html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    padding: 0;
}

body {
    background-color: white;
    color: black;  
    padding-top: 60px; 
    padding-bottom: 60px;
}

header {
    position: fixed; 
    display: flex;
    margin-right: 10px;
    align-items: right;
    justify-content: flex-start;
    top: 0;
    width: 100%;
    background-color: rgb(25, 25, 80);
    border-bottom: 1px solid black;
    z-index: 4;
}   

header a {
    text-decoration: none;
    color: white;
}

header h2 {
    margin-left: 30px;
    transition: color 0.5s linear;
}

header h2:hover {
    color: rgb(94, 88, 88);
}

footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    background-color: rgb(25, 25, 80);
    color: white;
    border-top: 1px solid black;
    z-index: 4;
}

button {
    width: 300px;
    height: 100px;  
    background-color: red;
    color: white;
    font-size: 80px;
    border-color: white;
    padding: 10px;
    flex-direction: column;
    margin-bottom: 150px; 
    transition: background-color 1s linear, transform 1s linear;
    border-radius: 30px;
   
}

button:hover {
    background-color: rgb(218, 22, 22);
    transform: scale(1.5);
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    position: relative;
    z-index: 2;
    width: 60%;
    padding: 20px;
    margin-top: 700px; 
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

#content h3 {
    font-size: 40px;
    margin-bottom: 10px;
}

.dark-mode {
    background-color: rgb(32, 32, 32);
    color: white;
  }

.dark-mode button {
    border-color: rgb(32, 32, 32);
}